{% extends "base.html" %}

{% block head %}
<title>Vaccinaton Consent Confirmation</title>
{% endblock %}




{% block body %}
<br><br>

<div class="content">
    <div class="content-boot">

        <br>
        <br>

        <h1 style = "text-align: center;">Thank you!</h1>

        <div class="alert alert-success"><h4 style = "text-align: center;"><i>Your form #{{ id }} has been submitted!</i></h4></div>
        <br>

        <h4 style = "text-align: center;"><i>Please remember to show up to your vaccination on time!</i></h4>

        <br>
        <br>


    </div>
</div>


{% endblock %}